*{
    padding: 0;
    margin: 0;
    font-family: serif;
}

header{
    background-color: rgb(30, 30, 30);
    position: relative; /*ヘッダーはpositionを設定する意識(※z-indexなどが効くようにする)*/
    height: 12vh;
    padding: 5px;
    box-shadow: 0 4px 4px rgb(50, 50, 50);
    z-index: 10;
}

/*タイトル*/
header h1{
    color: rgb(225, 225, 225);
    font-size: 1.7rem;
    justify-self: center;
    padding: 7px;
    cursor: default;
}

h1 span{
    transition: color 0.5s;
}

.h1-React:hover{
    color: rgb(250, 80, 80)
}

.h1-mjs:hover{
    color: rgb(130, 255, 40)
}

.h1-AI:hover{
    color: rgb(250, 10, 10)
}

/*ナビゲーション*/
nav{
    padding-left: 5px;
    font-weight: bold;
}

nav a{  /*Linkはaタグ扱い意識*/
    color: rgb(210, 210, 210);
    font-size: 1rem;
    text-decoration: none;
    margin-top: 5px;
    margin-left: 25px;
    padding: 5px;
    border-radius: 5px;
    transition: all 0.5s;
    cursor: pointer;
}

nav a:hover{
    background-color: rgb(50, 50, 50);
    color: rgb(255, 255, 255);
}